.container-header{
  height: 43px;
  justify-content: center;
  display: flex;
  background-color: #323232;
  color:#e0e0e0;
  border: 1px solid #e0e0e0;


}
.field-text{
  display: inline;
  padding: 0px;

  margin: 10px;
  position: relative;
  box-sizing: border-box;

  margin-left: auto;
  margin-right: auto;
  height: 16px;
}
.social{
  justify-content: center;
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: #e0e0e0;


  font-family: 'Quicksand', sans-serif;
}
