<head>
  <div class="head-container">
    <a routerLink="/"><h1>Esteban Cáceres</h1></a>
    <a routerLink="/"><h2>Locutor profesional</h2></a>
    <section class="container-header1">
      <div class="field-tex">
         <a routerLink="/sobre-mi" class="nav px-2">Sobre mí</a>
         <a routerLink="/servicios" class="nav px-2">Servicios</a>
         <a routerLink="/multimedia" class="nav px-2">Comerciales</a>
         <a routerLink="/contract" class="nav px-2">Contratar</a>
         <a routerLink="/contact" class="nav px-2">Contacto</a>
      </div>
    </section>
  </div>
  <div class="social-media">
     <a href="https://www.linkedin.com/in/estebancaceres/" ><img class="social" src="../../assets/images/linkedin.svg" alt=""></a>
     <a href="https://open.spotify.com/artist/4w3wdbIZ8CqLZYOZkCXWCj"><img class="social" src="../../assets/images/spotify.svg" alt=""></a>
     <a href="https://www.facebook.com/esteban.caceres.tudela"><img class="social" src="../../assets/images/Facebook.svg" alt=""></a>
     <a href="https://www.youtube.com/user/estebancaceresmusic"><img class="social" src="../../assets/images/YouTube.svg" alt=""></a>
     <a href="https://www.instagram.com/esanmusik/?hl=es-la"><img class="social" src="../../assets/images/instagram.svg" alt=""></a>
  </div>
</head>
<section class="container-header2">
  <div class="field-text">
     <a routerLink="/sobre-mi" class="nav">Sobre mí</a>
     <a routerLink="/servicios" class="nav">Servicios</a>
     <a routerLink="/multimedia" class="nav">Comerciales</a>
     <a routerLink="/contract" class="nav">Contratar</a>
     <a routerLink="/contact" class="nav" id="nav-contact">Contacto</a>
  </div>
</section>
