<head>
  <div class="head-container">
    <a routerLink="/"><h1>Esteban Cáceres</h1></a>
    <a routerLink="/"><h2>Locutor profesional</h2></a>
    <section class="container-header1">
      <div class="field-tex">
         <a routerLink="/sobre-mi" class="nav px-2">Sobre mí</a>
         <a routerLink="/servicios" class="nav px-2">Servicios</a>
         <a routerLink="/multimedia" class="nav px-2">Multimedia</a>
         <a routerLink="/contract" class="nav px-2">Contratar</a>
         <a routerLink="/contact" class="nav px-2">Contacto</a>
      </div>
    </section>
  </div>
  <div class="social-media">
     <a routerLink="" ><img class="social" src="../../assets/images/linkedin.svg" alt=""></a>
     <a routerLink=""><img class="social" src="../../assets/images/spotify.svg" alt=""></a>
     <a routerLink=""><img class="social" src="../../assets/images/Facebook.svg" alt=""></a>
     <a routerLink=""><img class="social" src="../../assets/images/YouTube.svg" alt=""></a>
     <a routerLink=""><img class="social" src="../../assets/images/instagram.svg" alt=""></a>
  </div>
</head>
<section class="container-header2">
  <div class="field-text">
     <a routerLink="/sobre-mi" class="nav">Sobre mí</a>
     <a routerLink="/servicios" class="nav">Servicios</a>
     <a routerLink="/multimedia" class="nav">Multimedia</a>
     <a routerLink="/contract" class="nav">Contratar</a>
     <a routerLink="/contact" class="nav">Contacto</a>
  </div>
</section>
