<app-header></app-header>

<div class="container">
  <h1>Solicita tu cotización</h1>
  <h2>_______</h2>
  <h3>Ponte en contacto conmigo</h3>
  <form action="" class="form">
    <input type="text" name="nombre "placeholder="Nombre" id="">
    <input type="text" name="telefono" placeholder="Teléfono" id="">
    <input type="text" name="email" placeholder="Mail" id="">
    <input type="text" name="pais" placeholder="País" id="">
    <input type="text" name="ciudad" placeholder="Ciudad" id="">

    <div class="separate">
      <input type="text" name="empresa" placeholder="Empresa" id="">
      <input type="text" name="servicio" placeholder="Servicio" id="">
      <textarea name="" id="" cols="30" rows="7" placeholder="Deja tú mensaje..."></textarea>
    </div>

    <button type="submit" >Enviar</button>
  </form>
</div>
