.container{
  justify-content: center;
}
.container h1{
  height: 10px;
  margin: 0;
  padding-left: 50px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'gill-sans-nova', sans-serif;
  font-size: 18px;
  margin-right: 50px;
  margin-top: 24px;
}
.container h2{
  color: #FFFFFF;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
  font-weight: 3px;
  opacity: 0.5;
}
.container h3{
  padding-right: 55px;
  height: 10px;
  margin: 0;
  padding-left: 100px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  margin-right: 40px;
  margin-top: 24px;
  opacity: 0.8;
  visibility: hidden;
}
.input-error{

  color: red;
  font-size: 2.3vw;
  margin: -10px 0 0 -62vw !important;
}

#error-email{
  margin: -10px 0 0 -58vw !important;
}
form input{
  width: 80%;
  padding: 1.5%;
  color: #FFFFFF;
  margin-top: 2%;
  margin-bottom: 3%;
  backdrop-filter: blur(1px);
  border: 0;
  background-color: #0000004C;
  border: 1px #FFFFFF solid;
}
form select{
  width: 83%;
  padding: 1.5%;
  color: #FFFFFF;
  margin-top: 2%;
  margin-bottom: 3%;
  backdrop-filter: blur(1px);
  border: 0;
  background-color: #0000004C;
  border: 1px #FFFFFF solid;

}
option{
  color: black;
}
input{
  color:  #FFFFFF;
}
form textarea{
  width: 80%;
  height: 45%;
  padding: 1.5%;
  color: #FFFFFF;
  margin-top: 2%;
  margin-bottom: 3%;
  backdrop-filter: blur(1px);
  border: 0;
  background-color: #0000004C;
  border: 1px #FFFFFF solid;

}
textarea.mat-input-element{
  padding:0 0 40px !important;
}
form button{
  background-color: #0000004C ;
  width: 100%;
  color: #FFFFFF;
  border:0 ;
  padding: 8px;
  font-family: 'Quicksand', sans-serif;
}
button a{
  text-decoration: none;
  color: #FFFFFF;
}
button a:hover{
  background-color: rgb(255, 255, 255,0.3);
}
 ::placeholder{
   color: #FFFFFF;
   font-family: 'Quicksand', sans-serif;
}
@media (min-width: 1024px){
  .container h1{
    margin-top: 0;
    font-size: 40px;
  }
  .container h2{
    font-size: 20px;
    margin-top: 1%;
  }
  .container h3{
    visibility: visible;
    margin-bottom: 3%;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 5%;
  }
  .form .separate1{
    margin-left: 10%;
    width: 90%;
  }

  .form .separate2{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: 90%;
    position: inherit;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex{
    font-size: 25px;
  }

  textarea.mat-input-element{
    padding:0 0 240px  !important;
  }
  form button{
    font-size: 20px;
  }

  .form{
    justify-content: space-between;

  }
  .mat-error{
    color: red !important;
    font-size: 20px;
  }
  .input-error{

    color: red;
    font-size: 1.3vw;
    margin: -10px 0 0 -27vw !important;
  }
  #error-email{
    margin: -10px 0 0 -24vw !important;
  }
}

@media (max-width: 1024px){
  form input{
    border: none;
  }
  form select{
    border: none;
  }
  form textarea{
    border: none;
  }
}
