<app-header></app-header>
  <div class="container">
    <h1>Comerciales</h1>
      <h2>____</h2>
      <p>Hay muchas formas de comunicar un mensaje, porque comunicar también tiene
        que ver con sentir, y en el sentir están nuestras emociones.
        Alegría, tristeza, orgullo, euforia, ira, miedo, sorpresa y un sinfín de sentimientos
        que se logran transmitir en cada texto que interpreto.
        En este espacio, podrás encontrar algunos de mis más destacados trabajos,
        donde podrás apreciar las distintas formas de comunicar tu mensaje.</p>
  </div>
  <div class="swiper-container">
    <app-banner></app-banner>
  </div>
