<app-header></app-header>
  <div class="container">
    <h1>Comerciales</h1>
      <h2>____</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipiscing elit fusce, odio inceptos pretium convallis dictum a vestibulum, lacus quisque elementum neque sapien velit consequat. Suspendisse torquent tincidunt diam primis fringilla orci ut pellentesque phasellus netus sagittis, nibh viverra placerat pulvinar sapien luctus felis massa iaculis porttitor. Eros gravida habitant quam fermentum hac curae, vulputate integer natoque sociis mi id dis, viverra turpis congue tristique sed.</p>
  </div>
  <div class="swiper-container">
    <app-banner></app-banner>
  </div>
