<swiper

    style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff height: 100vh;"
    [zoom]="true"
    [navigation]="true"
    [pagination]="{ type: 'fraction' }"
    class="mySwiper"
  >

  <ng-template swiperSlide><h1>Agorex</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Agorex.mp4" >
      Your browser does not support the video tag.
    </video>
    </ng-template>
  <ng-template swiperSlide><h1>Blue express</h1>
    <video controls class="blue">
      <source src="../../assets/images/Blue Express.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>
  <ng-template swiperSlide><h1>Fazil</h1>
    <video controls class="fazil">
      <source src="../../assets/images/Fázil - Supermercado.mp4" >
      Your browser does not support the video tag.
    </video></ng-template>
  <ng-template swiperSlide><h1>ICE</h1>
    <video controls class="fazil">
      <source src="../../assets/images/Ice 10s.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>
  <ng-template swiperSlide><h1>Swan</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Swan 30s.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>
  <ng-template swiperSlide><h1>Coopeuch</h1>
    <video src="../../assets/images/¿Qué es Coopeuch Sus beneficios y remanente[1]_Trim.mp4"  controls class="agorex">
      Your browser does not support the video tag.
    </video>
  </ng-template>
  <ng-template swiperSlide><h1>Triton</h1>
    <video controls class="agorex">
      <source src="../../assets/images/¡Vuelve a disfrutar Lollapalooza con TRITON!.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Fruta fresca Freskitapas</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Frutafresca Freskitapas[1]_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Glucerna</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Glucerna 2020_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Universidad cienífica</h1>
    <video controls class="agorex">
      <source src="../../assets/images/¡Cambia las reglas del juego![1]_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Supermercado Mayorista 10</h1>
    <video controls class="agorex">
      <source src="../../assets/images/superMayorista_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Merrell</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Merrell   My Other Wa[1]_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Bigtime</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Promo Bigtime Next Leve[1]_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>UFRO</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Admisión 2022   La UFRO comienza en ti Vívela como tu mejor viaj[1]_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Samsung</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Samsung   Nuevas Lavadoras Frontales Samsun[1]_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>

  <ng-template swiperSlide><h1>Vida Security</h1>
    <video controls class="agorex">
      <source src="../../assets/images/Vida Security_Trim.mp4" >
      Your browser does not support the video tag.
    </video>
  </ng-template>
  </swiper>
