
@import "~swiper/css";
@import "~swiper/css/effect-coverflow";
@import "~swiper/css/pagination";
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 250px;
}

.swiper-slide img {
  display: block;
  width: 140%;
  height: 120%;
}


.container{
  margin: 40px auto;
  padding: 18px 20px 0 0;
  height: 100%;
  width: 260px;
  padding: 20px ;
  height: 250px;
  word-wrap: break-word;
  overflow: hidden;
  justify-content: center;
}
.container h1{
  height: 10px;
  margin: 0;
  padding-left: 130px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'gill-sans-nova', sans-serif;
  font-size: 18px;
  margin-right: 50px;
}
.container h2{
  color: #FFFFFF;
  height: 20px;
  padding-left: 5pc;
  margin-top: 0;
  font-size: 20px;
  font-weight: 3px;
}
.container p{
  color: #ded9dc;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 11px;
  margin-top: 25px;
}
.swiper-container{

}
// .swiper-slide-active{
//   margin-left: -7%;
// }
@media (min-width: 450px) {
    .container{
      width: 80% !important;
      display: block;
      width: 800px;
      height: 100%;
      margin-top: 20px;
    }
}
@media (min-width: 850px){
  .container p{
    font-size: 14px;
  }
}
@media (min-width: 1024px){
  .container{
    margin-top: -5px;
    height: 80%;
  }
}
