<app-header></app-header>
  <div class="container">
    <h1>Servicios</h1>
      <h2>____</h2>
      <p>Locución comercial para TV y radio <br>
        Personajes para TV y radio <br>
        Locución comercial para medios digitales <br>
        Locución Corporativa <br>
        Doblaje <br>
        Personajes Cantados <br>
        Documentales <br>
        Podcasts <br>
        e-learning <br>
        IVR <br></p>
  </div>
  <div class="swiper-container">
    <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [coverflowEffect]="{
      rotate: 50,
      stretch: 0,
      depth: 100,
      modifier: 1,
      slideShadows: true
    }"

    class="mySwiper"
  >

    <ng-template swiperSlide>

      </ng-template>
    <ng-template swiperSlide>

    </ng-template>

  </swiper>
  </div>
