<app-header></app-header>

<div class="contact">
  <h1>Contacto</h1>
  <h2>______</h2>
</div>

<div class="container-contact">
  <div class="container-intern">
    <img class="container-svg1" style="stroke-width: 0.3;" src="../../assets/images/phone_icon.svg" alt="">
    <h1>________</h1>
    <h3>Chile</h3>
    <h1>________</h1>
    <h3>+56 9 9372 3790</h3>
    <h1>________</h1>
    <img class="container-svg2" src="../../assets/images/email_icon.svg" alt="">
    <div class="container-h3">
      <h3>caceres.esteban@gmail.com</h3>
    </div>

  </div>

</div>
<div class="contact" style="margin-top: 20px;">
  <h1>MARCAS</h1>
</div>
<div class="swiper-brands">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="10"
    [pagination]="{
      clickable: false
    }"
    slidesPerView="auto"
    loop:true
    [breakpoints]="{
      '300': {
        slidesPerView: 2,
        spaceBetween: 10
      },
      '400': {
        slidesPerView: 3,
        spaceBetween: 15
      },
      '640': {
        slidesPerView: 4,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 5,
        spaceBetween: 30
      },
      '1024': {
        slidesPerView: 5,
        spaceBetween: 50
      }
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\Triton.jpg" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\coopeuch.png" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\fazil.jpg" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\frutaris.jpg" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\mayorista10.png" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\samsunglogo.png" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\alvi.jpg" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\logo-universidad-cientifica.png" alt=""></ng-template
    ><ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\betterfly.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\waldos.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\logoUFRO.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\agorex.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\biljac.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\Blue-Express.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\conductores.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\fruta-fresca.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\glucerna.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\ICEBERG.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\aitue.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\Merrell-logo.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\minka.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\mobileHut.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\petit.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\logo-bigtime.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\swan.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\torre.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\unnired.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\vidaSecurity.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\Carozzi.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\falabella.svg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\nestle-logo.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\toc.svg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\Pizza-Hut-Logo.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\naturalist.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\natura.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\salfaRent.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\inacap.png" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\loteria.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\delBosque.jpeg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\skyWolf.jpg" alt=""></ng-template>
    <ng-template swiperSlide class="swiper-slided"><img src=".\assets\images\saval.png" alt=""></ng-template>
  </swiper>
</div>

<div class="container2">
  <div class="text-locutor">
    <a routerLink="/"><h1>Esteban Cáceres</h1></a>
    <a routerLink="/"><h2>Locutor profesional</h2></a>
  </div>
  <h1>2021 | Esteban Cáceres, Locutor profesional.</h1>
  <div class="social-media">
     <a href="https://www.linkedin.com/in/estebancaceres/" ><img class="social" src="../../assets/images/linkedin.svg" alt=""></a>
     <a href="https://open.spotify.com/artist/4w3wdbIZ8CqLZYOZkCXWCj"><img class="social" src="../../assets/images/spotify.svg" alt=""></a>
     <a href="https://www.facebook.com/esteban.caceres.tudela"><img class="social" src="../../assets/images/Facebook.svg" alt=""></a>
     <a href="https://www.youtube.com/user/estebancaceresmusic"><img class="social" src="../../assets/images/YouTube.svg" alt=""></a>
     <a href="https://www.instagram.com/esanmusik/?hl=es-la"><img class="social" src="../../assets/images/instagram.svg" alt=""></a>
 </div>
</div>
