<app-header></app-header>

<div class="contact">
  <h1>Contacto</h1>
  <h2>______</h2>
</div>

<div class="container">
  <div class="container-intern">
    <img class="container-svg1" style="stroke-width: 0.3;" src="../../assets/images/phone_icon.svg" alt="">
    <h1>________</h1>
    <h3>Chile</h3>
    <h1>________</h1>
    <h3>+56 9 9372 3790</h3>
    <h1>________</h1>
    <img class="container-svg2" src="../../assets/images/email_icon.svg" alt="">
    <h3>caceres.esteban@gmail.com</h3>
  </div>

</div>


<div class="container2">
  <div class="text-locutor">
    <a routerLink="/"><h1>Esteban Cáceres</h1></a>
    <a routerLink="/"><h2>Locutor profesional</h2></a>
  </div>
  <h1>2021 | Esteban Cáceres, Locutor profesional.</h1>
  <div class="social-media">
     <a href="https://www.linkedin.com/in/estebancaceres/" ><img class="social" src="../../assets/images/linkedin.svg" alt=""></a>
     <a href="https://open.spotify.com/artist/4w3wdbIZ8CqLZYOZkCXWCj"><img class="social" src="../../assets/images/spotify.svg" alt=""></a>
     <a href="https://www.facebook.com/esteban.caceres.tudela"><img class="social" src="../../assets/images/Facebook.svg" alt=""></a>
     <a href="https://www.youtube.com/user/estebancaceresmusic"><img class="social" src="../../assets/images/YouTube.svg" alt=""></a>
     <a href="https://www.instagram.com/esanmusik/?hl=es-la"><img class="social" src="../../assets/images/instagram.svg" alt=""></a>
 </div>
</div>
