head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color:#e0e0e0;
  background-color: #323232;
  margin: 0;

}

head > img{
  width: 124px;
  height: 20px;
   padding:10px ;
}
.social-media{
  margin-right: 20px;
  margin-top: 10px;
}
.social{
  margin-right: 5px;
  text-decoration: none;
  color: #F2ECEB;
}
.container{
  background: rgba(13, 0, 0, 0.39);
  display: flex;
  top:0px;
  right: 0px;
  bottom:0px;
  left:0px;
  justify-content: center;
  align-items: center;
  transform: translate(0, 380%);
  height: 86px;
  text-align: left;
}
.container > h1{
  font-size: 30px;
  color: #e0e0e0;
  font-family: Felix Titling;

}
