head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color:#F2ECEB;
  background-color: #323232;
  margin: 0;

}
head > #title{
    margin: 10px 20px;
    font-family: normal normal normal 20px/24px Filmotype Maxwell;
    font-size: 20px;
}
.social-media{
  margin-right: 20px;
  margin-top: 10px;
}
.social{

  margin-right: 5px;
  text-decoration: none;
  color: #F2ECEB;
}
