head{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color:#F2ECEB;
  background-color: #323232;
  margin: 0;

}
head > h2{
    margin: 10px 20px;
    font-family:  filmotype-maxwell, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}
.social-media{
  margin-right: 20px;
  margin-top: 10px;
}
.social{
  margin-right: 5px;
  text-decoration: none;
  color: #F2ECEB;
}
.container{
  background: rgba(13, 0, 0, 0.39);
  display: flex;
  top:0px;
  right: 0px;
  bottom:0px;
  left:0px;
  justify-content: center;
  align-items: center;
  transform: translate(0, 380%);
  height: 86px;
  text-align: left;
}
.container > h1{
  font-size: 30px;
  color: #FFFFFF;
  font-family: Felix Titling;

}
